<?xml version="1.0"?>
<model>
  <name>ikart_wheels_friction</name>
  <version>1.0</version>
  <sdf version='1.0'>ikart_wheels_friction.sdf</sdf>

  <author>
   <name>Alexander Mois Aroyo</name>
   <email>alexander.aroyo@iit.it</email>
  </author>

  <description>
    Model for iKart.
  </description>
</model>
